@{
    ViewData["Title"] = "Главная страница";
}

<div class="container mt-4">
    <!-- Баннер -->
    <div class="banner mb-5">
        <div class="card bg-dark text-white">
            <img class="card-img" src="~/images/banner/banner-speaker.png" alt="Iphone">
            <div class="card-img-overlay d-flex flex-column justify-content-center">
                <h5 class="card-title">Iphone</h5>
                <p class="card-text text-warning">СКИДКА 20% <br /> при покупке второго товара</p>
            </div>
        </div>
    </div>

    <!-- Раздел Каталог -->
    <div class="catalog">
        <h4>Каталог</h4>
        <div class="row text-center mt-3">
            <div class="col">
                <img src="~/images/katalog/smartphone.png" alt="Смартфоны" class="img-fluid catalog-icon">
                <p>Смартфоны</p>
            </div>
            <div class="col">
                <img src="~/images/katalog/headphones.png" alt="Наушники" class="img-fluid catalog-icon">
                <p>Наушники</p>
            </div>
            <div class="col">
                <img src="~/images/katalog/charger.jpg" alt="Зарядные устройства" class="img-fluid catalog-icon">
                <p>Зарядные устройства</p>
            </div>
            <div class="col">
                <img src="~/images/katalog/covers.jpg" alt="Чехлы" class="img-fluid catalog-icon">
                <p>Чехлы</p>
            </div>
            <div class="col">
                <img src="~/images/katalog/selfi.jpg" alt="Селфи палки" class="img-fluid catalog-icon">
                <p>Селфи палки</p>
            </div>
            <div class="col">
                <img src="~/images/katalog/speaker.jpg" alt="Колонки" class="img-fluid catalog-icon">
                <p>Колонки</p>
            </div>
        </div>
    </div>

    <!-- Раздел Акции -->
    <div class="promotions mt-5">
        <h4>Акции</h4>
        <div class="row">
            <!-- Пример карточки товара -->
            <div class="col-md-4 col-lg-3 mb-4">
                <div class="card">
                    <img src="~/images/stock/iphone14.jpg" class="card-img-top" alt="Смартфон Apple iPhone 14 128GB">
                    <div class="card-body text-center">
                        <h6 class="card-title">Смартфон Apple iPhone 14 128GB</h6>
                        <p><s>87,999 ₽</s> <span class="text-danger">84,999 ₽</span> <span class="badge badge-warning">-4%</span></p>
                        <button class="btn btn-primary">В корзину</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 mb-4">
                <div class="card">
                    <img src="~/images/stock/iphone14.jpg" class="card-img-top" alt="Смартфон Apple iPhone 14 128GB">
                    <div class="card-body text-center">
                        <h6 class="card-title">Смартфон Apple iPhone 14 128GB</h6>
                        <p><s>87,999 ₽</s> <span class="text-danger">84,999 ₽</span> <span class="badge badge-warning">-4%</span></p>
                        <button class="btn btn-primary">В корзину</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 mb-4">
                <div class="card">
                    <img src="~/images/stock/iphone14.jpg" class="card-img-top" alt="Смартфон Apple iPhone 14 128GB">
                    <div class="card-body text-center">
                        <h6 class="card-title">Смартфон Apple iPhone 14 128GB</h6>
                        <p><s>87,999 ₽</s> <span class="text-danger">84,999 ₽</span> <span class="badge badge-warning">-4%</span></p>
                        <button class="btn btn-primary">В корзину</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 mb-4">
                <div class="card">
                    <img src="~/images/stock/iphone14.jpg" class="card-img-top" alt="Смартфон Apple iPhone 14 128GB">
                    <div class="card-body text-center">
                        <h6 class="card-title">Смартфон Apple iPhone 14 128GB</h6>
                        <p><s>87,999 ₽</s> <span class="text-danger">84,999 ₽</span> <span class="badge badge-warning">-4%</span></p>
                        <button class="btn btn-primary">В корзину</button>
                    </div>
                </div>
            </div>
            <!-- Повторите блок для других товаров -->
        </div>
    </div>
</div>
